@import url("https://fonts.googleapis.com/css?family=Raleway:500");
body {
  background: rgb(180, 221, 219);
  margin: 0;
  padding: 3rem;
}
form{
  padding-left: 2rem;
  padding-right: 2rem;
}




